<div class="flex flex-col items-center">
  <div class="w-full md:w-3/4 xl:w-4/6 2xl:w-1/2">
    <div class="flex gap-x-4 w-full items-center mt-12 pb-8 border-b-4 border-black border-dashed text-center">
      <div class="w-32 h-32 border-black border-4 rounded-xl p-4 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] overflow-hidden">
        <%= image_tag @user.image_url %>
      </div>
      <h3 class="text-5xl font-bold"><%= @user.email %></h3>
    </div>

    <%= simple_form_for(
      @user,
      url: profile_path(@user.id),
      html: { class: "flex flex-col items-center" }
    ) do |f| %>
      <div data-controller="reveal">
        <button data-action="click->reveal#toggle" type="button" class="btn">Upload Image</button>

        <%= f.hidden_field :image, value: @user.cached_image_data, id: nil %>
        <%= f.input :image,
          as: :file,
          input_html: {
            class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
          },
          wrapper_html: {
            class: "hidden",
            data: {
              "reveal-target": "item"
            },
          }
        %>
      </div>

      <%= f.input :about,
        type: :text,
        input_html: {
          class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
        },
        wrapper_html: {
          class: "w-full"
        }
      %>

      <div class="w-full flex mt-4">
        <%= f.input :date_of_birth,
          as: :string,
          input_html: {
            data: { controller: "datepicker" },
            class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
          },
          wrapper_html: {
            class: "w-1/2 mr-2"
          }
        %>
        <%= f.input :programming_since,
          as: :string,
          input_html: {
            data: { controller: "datepicker" },
            class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
          },
          wrapper_html: {
            class: "w-1/2 ml-2"
          }
        %>
      </div>

      <div class="flex gap-x-4 mt-4">
        <div class="w-1/3">
          <%= f.label "Language", class: "font-bold" %>
          <%= f.combobox :language,
            I18nData.languages.invert.to_a,
            input_html: {
              class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
            }
          %>
        </div>

        <div class="w-1/3">
          <%= f.label "Country", class: "font-bold" %>
          <%= f.combobox :country,
            I18nData.countries.invert.to_a %>
        </div>

        <div class="w-1/3">
          <%= f.label "Level", class: "font-bold" %>
          <%= f.combobox :level,
            User::LEVELS.map { |l| [l.capitalize, l] } %>
        </div>
      </div>

      <%= f.button :submit,
        "Save Changes",
        class: "mt-16 flex cursor-pointer items-center rounded-md border-2 border-black bg-purple px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
      %>
    <% end %>
  </div>
</div>
