<div style="display: none">
  Great news, new pair programming session has been scheduled for you
  &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847;
</div>
<div role="article" aria-roledescription="email" aria-label="New pair programming session" lang="en">
  <div class="sm-px-4" style="background-color: #f8fafc; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif">
    <table align="center" cellpadding="0" cellspacing="0" role="none">
      <tr>
        <td style="width: 552px; max-width: 100%">
          <div class="sm-my-8" style="margin-top: 48px; margin-bottom: 48px; text-align: center">
            <a href="https://pairin.dev">
              <img src="<%= image_url('logo.svg') %>" width="70" alt="Pairin" style="max-width: 100%; vertical-align: middle">
            </a>
          </div>
          <table style="width: 100%;" cellpadding="0" cellspacing="0" role="none">
            <tr>
              <td class="sm-px-6" style="border-radius: 4px; background-color: #fffffe; padding: 48px; font-size: 16px; color: #334155; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                <h1 class="sm-leading-8" style="margin: 0 0 24px; font-size: 24px; font-weight: 600; color: #000001">
                  Hello,
                </h1>
                <p style="margin: 0; line-height: 24px">
                  Just letting you know that you have pair programming session scheduled.
                  <br>
                  <br>
                  Here are all necessary details:
                </p>
                <table style="margin-top: 24px; width: 100%; border-width: 2px; border-color: #000001" cellpadding="0" cellspacing="0" role="none">
                  <tr style="display: flex; width: 100%">
                    <td style="width: 50%">
                      <span style="font-weight: 600">Subject:</span>
                    </td>
                    <td style="width: 50%;">
                      <%= @session.sessionable.subject %>
                    </td>
                  </tr>
                  <tr style="display: flex; width: 100%;">
                    <td style="width: 50%;">
                      <span style="font-weight: 600">Time:</span>
                    </td>
                    <td style="width: 50%;">
                      <%= @session.start_at.in_time_zone(@participant.timezone).to_fs(:short) %> - <%= @session.end_at.in_time_zone(@participant.timezone).to_fs(:short) %>
                    </td>
                  </tr>
                  <tr style="display: flex; width: 100%;">
                    <td style="width: 50%;">
                      <span style="font-weight: 600">Partner:</span>
                    </td>
                    <td style="width: 50%;">
                      <%= @session.other_participant(@participant).name %>
                    </td>
                  </tr>
                  <tr style="display: flex; width: 100%;">
                    <td style="width: 50%;">
                      <span style="font-weight: 600">Call link:</span>
                    </td>
                    <td style="width: 50%;">
                      <% if @session.hold_by_user?(@participant) %>
                        Please add call link to session
                      <% else %>
                        Should be provided by holder soon
                      <% end %>
                    </td>
                  </tr>
                </table>
                <p style="margin-top: 32px; font-weight: 600">Happy Pairin!</p>
              </td>
            </tr>
            <tr role="separator">
              <td style="line-height: 48px">&zwj;</td>
            </tr>
            <tr>
              <td style="padding-left: 24px; padding-right: 24px; text-align: center; font-size: 12px; color: #475569">
                <p style="margin: 0 0 16px">
                  Pairin Team
                </p>
                <p style="margin: 0; font-style: italic">
                  Find pair programming partner quick and easy
                </p>
                <p style="cursor: default">
                  <a href="https://pairin.dev" class="hover-important-text-decoration-underline" style="color: #4338ca; text-decoration: none">Pairin</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
