<div class="flex flex-col items-center">
  <div class="w-full md:w-3/4 xl:w-4/6 2xl:w-1/2">
    <div class="flex w-full items-center mt-12 pb-8 border-b-4 border-black border-dashed text-center">
      <h3 class="text-5xl font-bold">Pair Programming Requests</h3>
    </div>

    <div class="mt-12" data-controller="reveal">
      <button data-testid="search-btn" class="relative group overflow-hidden items-center w-full flex justify-end mb-2" data-action="click->reveal#toggle" type="button">
        <span class="absolute block font-bold top-0 -right-[60px] transition ease-in-out duration-500 group-hover:-translate-x-24">
          Filter
        </span>
        <%= image_tag "preferences.svg", alt: "filter", class: "z-10 bg-yellow-50" %>
      </button>

      <div class="mb-12 hidden" data-reveal-target="item">
        <%= simple_form_for @q, url: search_pair_requests_path, method: :get, html: { class: "md:flex md:flex-wrap md:justify-between md:gap-y-4" } do |f| %>
          <div class="md:w-5/12">
            <%= f.label :tags_name_eq, "Tags" %>
            <%= f.combobox :tags_name_eq, Tag.all.map { |p| [p.name, p.name] } %>
          </div>

          <div class="md:w-5/12">
            <%= f.input :duration_eq,
              label: "Duration",
              required: false,
              input_html: {
                class: "w-full rounded-md border-2 border-black p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
              }
            %>
          </div>
          <div class="md:w-5/12">
            <%= f.label :user_level_eq, "User level" %>
            <%= f.combobox :user_level_eq, User::LEVELS.map { |p| [p.titleize, p] } %>
          </div>
          <div class="md:w-5/12">
            <%= f.label :user_language_eq, "User language" %>
            <%= f.combobox :user_language_eq, I18nData.languages.map { |p, v| [v, p] } %>
          </div>
          <div class="md:w-5/12">
            <%= f.input :periods_start_at_gteq,
              as: :string,
              label: "Session starting from",
              required: false,
              input_html: {
                data: {
                  controller: "datepicker",
                  class: "w-full rounded-md border-2  p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
                }
              }
            %>
          </div>
          <div class="md:w-5/12">
            <%= f.input :periods_end_at_lteq,
              as: :string,
              required: false,
              label: "Session starting to",
              input_html: {
                data: {
                  controller: "datepicker",
                  class: "w-full rounded-md border-2  p-[10px] font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] outline-none transition-all focus:translate-x-[3px] focus:translate-y-[3px] focus:shadow-none"
                }
              }
            %>
          </div>

          <div class="md:w-full flex justify-center">
            <%= f.submit "Go",
              data: { turbo_frame: "pair-requests" },
              class: "mt-6 flex cursor-pointer items-center rounded-md border-2 border-black bg-purple px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
            %>
          </div>
        <% end %>
      </div>

      <%= turbo_frame_tag "pair-requests" do %>
        <%= render @pair_requests %>
        <%= render partial: "pair_requests/next_page" %>
      <% end %>
    </div>
  </div>
</div>
