<div data-controller="home" class="w-full border-b-4 px-2 border-black bg-yellow-50 font-bold sticky top-0 z-10">
  <div class="flex flex-col max-w-screen-xl py-2 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="flex items-center justify-between lg:justify-start">
      <div class="flex items-center justify-center space-x-2">
        <%= link_to root, class: "flex flex-col justify-center items-center" do %>
          <%= image_tag "logo.svg", class: "w-fit h-8 md:h-12" %>
          <span class="text-xl font-bold">pairin</span>
        <% end %>
      </div>

      <button data-action="click->home#toggleNav" class="rounded-lg md:hidden focus:outline-none focus:shadow-outline">
        <%= image_tag "hamburger.svg", class: "w-8 h-8 md:h-20" %>
      </button>
    </div>

    <nav data-home-target="nav" class="flex-col flex-grow mt-4 hidden md:flex md:justify-end md:flex-row">
      <ul class="space-y-2 list-none lg:space-y-0 lg:items-center lg:inline-flex">
        <% if user_signed_in? %>
          <li>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-sm" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "px-2 lg:px-6 py-6 text-sm border-b-2 border-transparent leading-[22px] md:px-3 text-black" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
