<aside class="hidden md:block h-screen w-2/12 font-sans absolute border-r-4 border-black border-dashed">
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= image_tag "logo.svg", class: "w-12 h-12" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
    <%= link_to "Community", activities_path %>
  </div>
  <div class="<%= current_page?(pair_requests_path) ? "bg-purple" : "" %> border-b-4 border-black  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
    <%= link_to "Search", pair_requests_path %>
  </div>
  <div class="border-b-4 border-black  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
    <%= link_to "Applied", users_offers_path %>
  </div>
  <div class="border-b-4 border-black  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
    <%= link_to "Pairin requests", users_pair_requests_path %>
  </div>
  <div class="border-b-4 border-black  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
    <%= link_to "Profile", profile_path(current_user.id) %>
  </div>
  <div class="border-b-4 border-black  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:bg-orange hover:translate-y-[3px]">
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
</aside>

<div class="md-hidden">
  <div data-controller="reveal">
    <button data-action="click->reveal#toggle" type="button" class="btn">menu</button>

    <div data-reveal-target="item" class="hidden">
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= image_tag "logo.svg", class: "w-12 h-12" %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Activities", activities_path %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Pair Requests", pair_requests_path %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Offers", users_offers_path %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "You pair requests", users_pair_requests_path %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Activity", root_path %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Profile", profile_path(current_user.id) %>
      </div>
      <div class="border-b-4  h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</div>
