<aside class="h-screen w-2/12 absolute bg-blue-100 border-r-4 border-black">
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= image_tag "logo.svg", class: "w-12 h-12" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= link_to "Activities", activities_path, class: "uppercase font-handwritten" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= link_to "Pair Requests", pair_requests_path, class: "uppercase font-handwritten" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= link_to "Offers", users_offers_path, class: "uppercase font-handwritten" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= link_to "You pair requests", users_pair_requests_path, class: "uppercase font-handwritten" %>
  </div>
  <div class="border-b-4 border-black h-16 flex justify-center items-center cursor-pointer transition-all hover:translate-x-[3px] hover:translate-y-[3px]">
    <%= link_to "Activity", root_path, class: "uppercase font-handwritten" %>
  </div>
</aside>
