<!DOCTYPE html>
<html>
  <head>
    <title>Pairin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= combobox_style_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-yellow-50">
    <div class="overflow-y-scroll h-screen md:flex">
      <div class="md:w-2/12">
        <%= render "layouts/nav" %>
      </div>

      <div class="md:w-10/12 px-4">
        <div class="flash">
          <%= render "layouts/flash" %>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
