<!DOCTYPE html>
<html>
  <head>
    <title>Pairin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= combobox_style_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-[#c9dcd8]">
    <div class="overflow-y-scroll h-screen flex">
      <div class="w-2/12">
        <%= render "layouts/nav" %>
      </div>

      <div class="w-10/12">
        <div class="flash">
          <%= render "layouts/flash" %>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
